$_prefix: mining-sdk-table;

.#{$_prefix} {
  margin: 10px 0;

  &__content-section {
    overflow-x: scroll;
    border: 1px solid var(--mining-sdk-table-border);
    position: relative;

    &--empty {
      @include flex_column;

      .#{$_prefix}__empty-body {
        align-self: center;
      }
    }

    &--no-overflow {
      overflow-x: hidden;
    }

    .#{$_prefix}__loader-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      background: var(--mining-sdk-table-loader-overlay-bg);
      backdrop-filter: blur(1px);

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .#{$_prefix}__empty-body {
      display: flex;
      align-items: center;
      flex-direction: column;

      padding: 30px;
      gap: 10px;
      color: var(--mining-sdk-table-text-secondary);

      &--hidden {
        min-height: 200px;
      }
    }

    .#{$_prefix}__element {
      font-family: var(--font-mono);
      text-align: left;
      border-collapse: collapse;

      &--width-full {
        width: 100%;
      }

      thead tr {
        border-bottom: 1px solid var(--mining-sdk-table-border);

        th {
          padding: 10px 16px;
          color: var(--mining-sdk-table-text-primary);
          background-color: var(--mining-sdk-table-header-bg);
          border-spacing: 0;
          font-size: 12px;

          &:hover {
            background-color: var(--mining-sdk-table-header-hover-bg);
          }

          &.sortable {
            cursor: pointer;
            user-select: none;
          }

          .#{$_prefix}-header {
            &-content {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }

      tbody {
        .#{$_prefix}__body-row {
          &:hover {
            background-color: var(--mining-sdk-table-body-hover-bg);
          }

          &--selected {
            background-color: var(--mining-sdk-table-selected-row-bg);

            &:hover {
              background-color: var(--mining-sdk-table-selected-row-hover-bg);
            }
          }

          td {
            padding: 16px;
            margin: 0;
            color: #ffffff;
            border-spacing: 0;
            font-size: 12px;
            border-bottom: 1px solid var(--mining-sdk-table-row-border);
          }
        }
      }
    }
  }

  &__pagination-section {
    padding-top: 10px;
  }
}
