/* Base Accordion Styles */
.mining-sdk-accordion {
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--mining-sdk-color-black), 0.05);
}

.mining-sdk-accordion--solid-background {
  background-color: transparent;
}

.mining-sdk-accordion__item {
  border: none;
}

.mining-sdk-accordion__item[data-state='open'] {
  border: 1px solid var(--mining-sdk-dialog-border-color);
}

.mining-sdk-accordion__item[data-state='open']:not(.mining-sdk-accordion--solid-background) {
  background-color: transparent;
}

/* Header & Trigger */
.mining-sdk-accordion__header {
  display: flex;
}

.mining-sdk-accordion__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  padding: 10px 20px;
  border: none;
  background: none;
  color: inherit;
  text-align: left;
  border: 1px solid var(--mining-sdk-color-primary);
}

.mining-sdk-accordion__trigger--no-border {
  border: none;
}

.mining-sdk-accordion__trigger a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .mining-sdk-accordion__trigger {
    font-size: 16px;
    padding: 8px 16px;
  }
}

/* Toggler Icon */
.mining-sdk-accordion__toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--mining-sdk-dialog-border-color);
  flex-shrink: 0;
}

/* Icon visibility based on state */
.mining-sdk-accordion__icon--minus {
  display: none;
}

.mining-sdk-accordion__icon--plus {
  display: block;
}

.mining-sdk-accordion__trigger[data-state='open'] .mining-sdk-accordion__icon--minus {
  display: block;
}

.mining-sdk-accordion__trigger[data-state='open'] .mining-sdk-accordion__icon--plus {
  display: none;
}

/* Content */
.mining-sdk-accordion__content {
  overflow: hidden;
}

.mining-sdk-accordion__content[data-state='open'] {
  animation: accordion-down 0.2s ease-out;
  border: 1px solid var(--mining-sdk-color-primary);
  border-top: none;
}

.mining-sdk-accordion__content[data-state='closed'] {
  animation: accordion-up 0.2s ease-out;
}

.mining-sdk-accordion__content-inner {
  padding: 10px;
}

.mining-sdk-accordion__content-inner--no-padding {
  padding: 0;
}

.mining-sdk-accordion__content-inner--row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Animations */
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
