/* Indicator Base Styles */

.mining-sdk-indicator {
  @include inline_flex_align;
  
  border-radius: 0.25rem;
  font-family: var(--font-mono);
  font-weight: 500;
  transition: opacity 0.2s;
  text-transform: capitalize;

  &__label {
    white-space: nowrap;
    &--large {
      @include flex_column_align_center;
      
      gap: 8px;
    }
  }

  /* Size Variants */
  &--sm {
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  &--md {
    gap: 0.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &--lg {
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /* Color Variants */
  &--red {
    background-color: rgba(var(--mining-sdk-color-error), 0.1);
    color: rgb(var(--mining-sdk-color-error));
  }

  &--gray {
    background-color: rgba(var(--mining-sdk-color-dark-grey), 0.1);
    color: rgb(var(--mining-sdk-color-dark-grey));
  }

  &--blue {
    background-color: rgba(var(--mining-sdk-color-sleep-blue), 0.1);
    color: rgb(var(--mining-sdk-color-sleep-blue));
  }

  &--yellow {
    background-color: rgba(var(--mining-sdk-color-low-yellow), 0.1);
    color: rgb(var(--mining-sdk-color-low-yellow));
  }

  &--green {
    background-color: rgba(var(--mining-sdk-color-success), 0.1);
    color: rgb(var(--mining-sdk-color-success));
  }

  &--purple {
    background-color: rgba(var(--mining-sdk-color-purple-high), 0.1);
    color: rgb(var(--mining-sdk-color-purple-high));
  }

  &--amber {
    background-color: rgba(var(--mining-sdk-color-orange-warning), 0.1);
    color: rgb(var(--mining-sdk-color-orange-warning));
  }

  &--slate {
    background-color: rgba(var(--mining-sdk-color-grey-idle), 0.1);
    color: rgb(var(--mining-sdk-color-grey-idle));
  }

  /* Clickable State */
  &--clickable {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
