@use '@mining-sdk/core/styles' as *;

.mining-sdk-device-explorer__status-label {
  @include flex-center;
  color: var(--mining-sdk-color-white);
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 3px;
  width: min-content;
  height: min-content;

  background-color: var(--mining-sdk-color-brick-green);

  &--error {
    background-color: var(--mining-sdk-color-brick-red);
  }

  &--sleep {
    background-color: var(--mining-sdk-color-medium-blue);
  }

  &--offline {
    background-color: var(--mining-sdk-color-dark-grey);
  }
}
