@keyframes rotate-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.mining-sdk-loader-icon {
  svg {
    animation: 1s linear infinite rotate-spin;
  }
}
