@use '@mining-sdk/core/styles' as *;

@forward './components/device-card-col-text/styles.scss';
@forward './components/mining-status-indicator/styles.scss';
@forward './components/status-label/styles.scss';

.mining-sdk-device-explorer {
  &__toolbar {
    @include flex_center;
    align-items: stretch;
    gap: 8px;
    margin: 20px 0;

    &__filter {
      .mining-sdk-list-view-filter__trigger,
      .mining-sdk-badge-wrapper,
      .mining-sdk-button {
        height: 100%;
      }
    }

    &__tabs-list {
      width: auto;

      &::after {
        display: none;
      }
    }

    &__tab-trigger {
      margin: 0;
    }
  }

  &__table {
    &__cell-wrapper {
      @include flex_align;
      gap: 6px;
    }

    &__cell {
      &--type-temp,
      &--type-hash-rate,
      &--type-status,
      &--type-power-mode {
        @include flex-center;
        gap: 6px;
      }

      &--type-efficiency {
        width: 100px;
      }

      &--type-status {
        &__value {
          width: 65px;
        }
      }

      &--type-power-mode {
        &__value {
          width: 80px;
        }

        &__icon {
          @include flex-center;
        }
      }

      &--type-led {
        @include flex_column_center;
        color: var(--mining-sdk-color-white);
        font-size: 9px;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 3px;
        background-color: var(--mining-sdk-color-brick-red);
        padding: 3px;
        width: min-content;
        height: min-content;

        &--value-on {
          background-color: var(--mining-sdk-color-brick-green);
        }
      }
    }

    &__alarms {
      &__status-container {
        @include flex_center;
      }
    }
  }
}
