.mining_sdk_tabs {
  &__list {
    width: 100%;
    position: relative;
    display: inline-flex;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      height: 1px;
      background: var(--mining-sdk-color-white-transparent);
    }

    &--side {
      &::after {
        display: none;
      }
    }
  }

  &__trigger {
    @include inline_flex_align;

    position: relative;
    z-index: 1;
    border: none;
    cursor: pointer;
    font-weight: 400;
    padding: 0.875rem 0;
    font-size: 0.875rem;
    background: transparent;
    justify-content: center;
    transition: color 0.3s ease-in-out;
    font-family: var(--font-mono);
    color: var(--mining-sdk-color-text-secondary);

    &:not(:first-child) {
      margin-left: 2rem;
    }

    &:hover:not([data-disabled]) {
      color: var(--mining-sdk-color-primary);
    }

    &[data-state='active'] {
      text-shadow: 0 0 0.25px currentcolor;
      color: var(--mining-sdk-color-primary);
      box-shadow: inset 0 -2px 0 var(--mining-sdk-color-primary);
    }

    &[data-disabled] {
      color: var(--mining-sdk-color-text-disabled);
      cursor: not-allowed;
    }

    &--side {
      padding: 0.5rem 1.063rem;
      height: 34px;
      font-size: 14px;
      color: var(--mining-sdk-color-text-secondary);
      border: 1px solid var(--mining-sdk-button-secondary-border);
      background: transparent;
      box-shadow: var(--mining-sdk-shadow-light);
      transition:
        color 0.3s ease-in-out,
        background 0.3s ease-in-out,
        border-color 0.3s ease-in-out;

      &:not(:first-child) {
        margin-left: 10px;
      }

      &[data-disabled] {
        color: var(--mining-sdk-color-gray-450);
        background: var(--mining-sdk-color-white-8);
      }

      &[data-state='active'],
      &.active {
        box-shadow: var(--mining-sdk-shadow-light);
        border-color: transparent;
        background: var(--color-primary-transparent-20);
        color: var(--mining-sdk-color-primary);
      }
    }
  }

  &__content {
    color: var(--mining-sdk-color-text-secondary);
    margin-top: 0.5rem;
  }
}
