.mdk-tabs {
  &__list {
    width: 100%;
    position: relative;
    display: inline-flex;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      height: 1px;
      background: hsl(var(--border));
    }
  }

  &__trigger {
    position: relative;
    z-index: 1;
    border: none;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
    padding: 0.875rem 0;
    display: inline-flex;
    font-size: 0.875rem;
    justify-content: center;
    background: transparent;
    color: hsl(var(--muted-foreground));
    transition: color 0.3s ease-in-out;

    &:not(:first-child) {
      margin-left: 2rem;
    }

    &:hover {
      color: hsl(var(--foreground));
    }

    &[data-state='active'] {
      color: hsl(var(--foreground));
      box-shadow: inset 0 -2px 0 hsl(var(--foreground));
    }

    &[data-disabled] {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        color: hsl(var(--muted-foreground));
      }
    }
  }

  &__content {
    margin-top: 0.5rem;
    color: hsl(var(--foreground));
  }
}
