/**
 * Form Component Styles (mining-os theme)
 */

.mining-sdk-form {
  @include flex_column;

  gap: 1.5rem;
}

.mining-sdk-form-item {
  @include flex_column;

  gap: 0.5rem;
}

.mining-sdk-form-label {
  &--error {
    color: rgb(var(--mining-sdk-color-error, #ef4444));
  }
}

.mining-sdk-form-description {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: var(--mining-sdk-input-placeholder-color, #999999);
}

.mining-sdk-form-message {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: rgb(var(--mining-sdk-color-error, #ef4444));
}
