@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    color: hsl(var(--foreground));
    font-family: 'JetBrains Mono', sans-serif;
    background: var(--mining-sdk-color-surface);
  }
}
