.mining-sdk-cascader {
  position: relative;
  display: inline-block;

  &__panels {
    @include flex_row;

    max-height: 35%;
  }

  &__panel {
    @include flex_column;

    overflow-y: auto;
    &--options {
      flex: 1;
      min-width: 16rem;
      background-color: var(--mining-sdk-select-content-bg);
      border-left: 1px;
    }
  }

  &__category {
    @include flex_center;

    gap: 0.5rem;
    padding: 0.625rem 0.75rem;
    border-left: 3px solid transparent;
    transition: all 0.2s ease;

    &:hover:not(&--disabled):not(&--active) {
      background-color: rgba(var(--mining-sdk-color-white-rgb), 0.08);
    }

    &--active {
      background-color: var(--mining-sdk-cascader-active-bg);
    }

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &-checkbox {
      flex-shrink: 0;
      background-color: var(--mining-sdk-cascader-checkbox-bg);
      border-color: var(--mining-sdk-border-default-color);
      &[data-state='indeterminate'] {
        background-color: var(--mining-sdk-cascader-checkbox-bg);
        border-color: var(--mining-sdk-cascader-active-bg);
      }
    }
  }

  &__category-button {
    @include flex_center;

    gap: 0.5rem;
    flex: 1;
    padding: 0;
    background: transparent;
    border: none;
    color: var(--mining-sdk-color-text-secondary);
    font-size: 14px;
    text-align: left;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__category-label {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color 0.2s ease;
  }

  &__category-arrow {
    width: 1rem;
    height: 1rem;
    opacity: 0.5;
    transition: all 0.2s ease;
    flex-shrink: 0;
  }

  &__options-list {
    flex: 1;
    overflow-y: auto;
    padding: 0.5rem 0;
  }

  &__option {
    @include flex_center;

    gap: 0.75rem;
    padding: 5px 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover:not(&--disabled) {
      background-color: rgba(var(--mining-sdk-color-white-rgb), 0.2);
    }

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &__option-label {
    flex: 1;
    font-size: 14px;
    color: var(--mining-sdk-color-text-secondary);
    user-select: none;
  }
}
