.mining-sdk-pagination {
  @include flex_center_justify_end;
  gap: 12px;
  font-family: 'JetBrains Mono', monospace;

  &__total {
    font-size: 14px;
    color: rgb(var(--mining-sdk-color-primary));
    margin-right: auto;
  }

  &__controls,
  &__pages {
    @include flex_align;
    gap: 8px;
  }

  &__ellipsis {
    @include flex_center;
    position: relative;
    min-width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;

    &--dot,
    &--arrow {
      position: absolute;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      color: rgba(var(--mining-sdk-color-white-rgb), 0.25);
    }

    &--dot {
      font-size: 14px;
      opacity: 1;
      transform: scale(1) translateY(0);
      letter-spacing: 0.2rem;
    }

    &--arrow {
      font-size: 16px;
      color: var(--mining-sdk-color-primary);
      opacity: 0;
      transform: scale(0.5) translateY(10px);
    }

    &:hover:not(:disabled) {
      .mining-sdk-pagination__ellipsis--dot {
        opacity: 0;
        transform: scale(0.5) translateY(-10px);
      }

      .mining-sdk-pagination__ellipsis--arrow {
        opacity: 1;
        transform: scale(1) translateY(0);
      }
    }
  }

  &__size-changer {
    @include flex_align;

    &--trigger {
      min-width: 32px;
      height: 32px;
      padding: 0 8px;
      background: var(--mining-sdk-color-surface);
      border: 1px solid var(--mining-sdk-border-default-color);
      color: rgba(var(--mining-sdk-color-white-rgb), 0.8);
      font-family: 'JetBrains Mono', monospace;
      font-size: 14px;
      outline: none;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &--item {
      font-size: 14px;
      color: rgba(var(--mining-sdk-color-white-rgb), 0.8);
      padding: 4px 8px;

      &:hover {
        background: var(--mining-sdk-color-primary);
        color: rgba(var(--mining-sdk-color-white-rgb), 1);
      }
    }
  }

  .mining-sdk-pagination__button {
    min-width: 32px;
    height: 32px;
    font-size: 14px;
    color: var(--mining-sdk-color-primary);
    transition:
      background-color 0.2s,
      color 0.2s;

    &--prev,
    &--next {
      padding: 0;
      color: rgba(var(--mining-sdk-color-white-rgb), 0.8);

      &:hover {
        border-color: var(--mining-sdk-button-secondary-border);
        color: rgba(var(--mining-sdk-color-white-rgb), 0.8);
        background: var(--mining-sdk-button-primary-bg-hover-overlay);
      }
    }
    &--active {
      border-color: transparent;
      background: rgba(var(--mining-sdk-color-primary-rgb), 0.2);
    }

    &:not(&--prev):not(&--next):hover {
      border-color: transparent;
      color: rgba(var(--mining-sdk-color-white-rgb), 0.7);
      background: var(--mining-sdk-color-primary);
    }
  }

  // Disabled state
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
