/**
 * TextArea Component Styles (mining-os theme)
 *
 * - Default: Dark gray bg, no border
 * - Hover: Light gray border
 * - Focus: Orange/amber border
 */

.mining-sdk-textarea-root {
  @include flex_column;

  gap: 0.5rem;
  width: 100%;
  min-width: 0;
}

.mining-sdk-textarea__label {
  color: var(--mining-sdk-color-white, #ffffff);
  font-size: var(--mining-sdk-font-size, 14px);
  line-height: var(--mining-sdk-line-height, 22px);
}

.mining-sdk-textarea__wrapper {
  position: relative;
  width: 100%;
  min-width: 0;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &--error {
    .mining-sdk-textarea {
      border-color: rgb(var(--mining-sdk-color-error, #ef4444));
    }

    .mining-sdk-textarea:hover:not(:disabled):not(:focus),
    .mining-sdk-textarea:focus {
      border-color: rgb(var(--mining-sdk-color-error, #ef4444));
    }
  }
}

.mining-sdk-textarea__error {
  font-size: var(--mining-sdk-font-size, 14px);
  line-height: var(--mining-sdk-line-height, 22px);
  color: rgb(var(--mining-sdk-color-error, #ef4444));
}

.mining-sdk-textarea {
  width: 100%;
  min-height: 5rem;
  padding: 0.5rem 0.75rem;
  font-size: var(--mining-sdk-font-size, 14px);
  line-height: var(--mining-sdk-line-height, 22px);
  font-family: inherit;
  color: var(--mining-sdk-color-white, #ffffff);
  background: var(--mining-sdk-input-bg, #363636);
  border: 1px solid transparent;
  border-radius: 0;
  outline: none;
  resize: none;
  transition:
    border-color 0.2s,
    background-color 0.2s;

  &::placeholder {
    color: var(--mining-sdk-input-placeholder-color, #999999);
  }

  &:hover:not(:disabled):not(:focus) {
    border-color: var(--mining-sdk-input-border-hover, #777777);
  }

  &:focus {
    border-color: var(--mining-sdk-color-primary, #f7931a);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
