.mining-sdk-empty-state {
  @include flex_column_center;
  
  text-align: center;

  --mining-sdk-empty-state-description-color: var(--mining-sdk-color-gray-400);

  // Size variants
  &--sm {
    padding: 8px 0;
    gap: 4px;

    .mining-sdk-empty-state__description {
      font-size: 12px;
    }
  }

  &--md {
    padding: 24px 0;
    gap: 8px;

    .mining-sdk-empty-state__description {
      font-size: 14px;
    }
  }

  &--lg {
    padding: 48px 0;
    gap: 12px;

    .mining-sdk-empty-state__description {
      font-size: 16px;
    }
  }

  &__image {
    @include flex_center;
    
    line-height: 1;
    color: var(--mining-sdk-color-gray-400);
  }

  &__description {
    font-family: var(--font-mono);
    color: var(--mining-sdk-empty-state-description-color);
    line-height: 1.5;
  }
}
