/**
 * Demo App Styles
 */

.demo-app {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

.demo-section {
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__button-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(140px, max-content));
    gap: 1rem;
    align-items: center;
  }

  &__switches,
  &__checkboxes {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;

    &__item {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }
  }

  &__button-sizes {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__form-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  &__form-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &--baseline {
      align-items: baseline;
    }
  }

  &__avatars {
    display: flex;
    gap: 1rem;
  }

  &__accordion {
    width: 100%;
  }

  &__dialog-content {
    padding: 1rem 0;

    p {
      margin: 0;
    }
  }
  &__tabs {
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: var(--mining-sdk-color-background-dark);
  }

  &__typography {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--title {
      margin: 2rem 0;
    }
  }

  &__breadcrumbs {
    margin-bottom: 2rem;
  }
}

.is-demo-hover.mining-sdk-button--variant-primary {
  background:
    linear-gradient(
      0deg,
      var(--mining-sdk-button-primary-bg-hover-overlay) 0%,
      var(--mining-sdk-button-primary-bg-hover-overlay) 100%
    ),
    var(--mining-sdk-button-primary-bg);
  color: var(--mining-sdk-button-primary-text-hover);
}

.is-demo-hover.mining-sdk-button--variant-secondary {
  border-color: var(--mining-sdk-button-secondary-border-hover);
}

.is-demo-hover.mining-sdk-button--variant-danger {
  opacity: 0.9;
}

.is-demo-hover.mining-sdk-button--variant-outline {
  background: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}
