:root {
  // Power mode colors
  --mining-sdk-power-mode-sleep-color: var(--mining-sdk-color-sleep-blue);
  --mining-sdk-power-mode-low-color: var(--mining-sdk-color-dark-green);
  --mining-sdk-power-mode-normal-color: var(--mining-sdk-color-strong-green);
  --mining-sdk-power-mode-high-color: var(--mining-sdk-color-mint-green);
}
