/**
 * Label Component Styles
 */

.mining-sdk-label {
  font-family: var(--font-mono);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;

  &:has(+ :disabled) {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
